/*--------Аккородеоны-----------*/
.accordion_item{
    border: solid 1px var(--BackColor);
  }
  
.accordion_header{
    display: flex;
    flex-direction: row;
  
    position: relative;
  }
  
  .accordion_ctrlElement{
  
      width: 0;
      height: 0;
      appearance: none;
      display: none;
  }
  
  
  .accordion_label{
    display: block;
  
    padding: 5px;
    padding-left: 20px;
  
    width: 100%;
  
    color:white;
    background-color: var(--BackColor);
  
    cursor: pointer;
  }

.accordion_label.onEdit, .accordion_label.onEdit:hover{
    background-color:#FFFFFF;
    color:var(--BackColor);
  
    cursor: auto;
  }
  
  .accordion_label.blinking{
    animation: accordion_blink 1s infinite;
  }
  
  @keyframes accordion_blink {
  0% { background-color: var(--BackColor); }
  50% { background-color: var(--ActivationColor); }
  100% { background-color: var(--BackColor); }
  }
  
  .accordion_label:hover, .accordion_label.blinking:hover{
    background-color:var(--ActivationColor);
    transition: background (--transition-duration) ease-out;
  }

  .accordion_content{
    display: none;
  }
    
  .accordion_expandIcon{
    display: block;
  
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent white;
    transform: rotate(0deg);
  
    
    position: absolute;
    top:50%;
    left: 5px;
  
    transform: translateY(-50%);
  
    cursor:copy;
  }
  
  .accordion_ctrlElement:checked ~ .accordion_expandIcon{
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent white;
    transform: rotate(90deg);
  
    top:.5em;
  
  }